doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    link(rel="stylesheet" href="/client/room.css")
  body 
    .room__entered
      h1 myRoom
      .screens
        .myscreen
          p= title
          p= description 
          p= roomId
      div#call
        div#myStream
          .streambox
            .myface
              video#myface(autoplay,playsinline, width="400", height="400")
          button#mute Mute
          button#camera Turn Camera Off
          select#cameras
      form.message__form
        input(type="text" class="message__input" placeholder="Message!")
        button.message__btn send
      form.control__form
        button#connect connect
        button#leave leave
    script(src="/socket.io/socket.io.js" defer)
    script(src="/client/roomSocket.js" defer)