.room_create.display__none
  .room__form
    span Create!
    input.title(type="text" placeholder="title")
    input.description(type="text" placeholder="description")
    input.category(type="text" placeholder="category")
    button.roomcreate__button Creatte!