.room__create.display__none
  .room__form
    span Create!
    input.title(type="text" placeholder="title")
    input.description(type="text" placeholder="description")
    input.username(type="text" placeholder="your name")
    button.roomcreate__button Creatte!